// http://colorschemedesigner.com/#3v41QmbCiw0w0

$prim: #4088b8;
$prim_d1: #476f8a;
$prim_d2: #155178;
$prim_l1: #70b1dc;
$prim_l2: #8dbddc;

$sec1: #8045BF;
$sec1_rgb: rgb(128,69,191);

$sec1_d1: #754AA4;
$sec1_d2: #5E2799;
$sec1_l1: #AE7CE4;
$sec1_l2: #BF9DE4;

$sec2: #A9EE49;
$sec2: rgb(169,238,73);

$basic_face: 'Helvetica Neue', Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, Sans-serif;
$small_face: 'Helvetica Neue', Verdana, 'Bitstream Vera Sans', 'DejaVu Sans', Tahoma, Geneva, Arial, Sans-serif;
$copy_face: 'Quattrocento Sans', $basic_face;
$heading_face: 'Sawasdee', $basic_face;

