%footer#footer
  .container_12
    #copyright.section.grid_12(role='contentinfo')
      %p
        Alces Symphony Management Appliance &copy; 2008-#{Time.now.strftime('%Y')} Alces Software Ltd. All Rights Reserved.
